.box {
    border: 1px solid #ddd;
    text-align: center;
    width: 250px;
    margin: 8px;
    box-shadow: 0 0 6px #ddd;
    padding: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;


    .img {
        width: 100px;
        height: 140px;
    }

    &:hover{
        transform: rotate(1deg) scale(1.03);
    }


}





